{namespace rkwCalculation=Rkw\RkwFeecalculator\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

  <f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
      <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
        <f:for each="{errors}" as="error">
          <div class="typo3-messages">
            <div class="alert alert-danger">
              <div class="media">
                <div class="media-body">
                  <div class="alert-message">
                    <f:format.raw>{error}</f:format.raw>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </f:for>
      </f:for>
    </f:if>
  </f:form.validationResults>

  <f:form action="store" name="calculation" object="{calculation}" class="form-fields">

    <f:form.hidden property="calculator" id="calculator" />
    <f:form.hidden property="initialized" id="initialized" />

    <div class="v320">

      <h2>{calculation.calculator.name}</h2>
      <div class="v320-1">
        <label class="form-label" for="selectedProgram">
          <f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.selected_program" />
        </label>
        <f:form.select id="selectedProgram" property="selectedProgram" options="{assignedPrograms}" optionValueField="uid" optionLabelField="name" prependOptionLabel="Bitte wählen ..." prependOptionValue="" additionalAttributes="{onChange : 'this.form.submit();'}"/>
      </div>

        <h3>
          <f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.fee_calculation" />
        </h3>

          <div class="v320-1-of-2">
            <div class="v320-1">
              <label class="form-label" for="days">
                <f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.days" />
              </label>
              <f:if condition="{possibleDays}">
                <f:then>
                  <f:form.select id="days" property="days" options="{possibleDays}" prependOptionLabel="Bitte wählen ..." prependOptionValue=""/>
                </f:then>
                <f:else>
                  <f:form.textfield id="days" property="days" additionalAttributes="{autocomplete:'possibleDays'}" />
                </f:else>
              </f:if>
            </div>
          </div>

        <div class="v320-2-of-2">
          <div class="v320-1">
              <label class="form-label" for="consultantFeePerDay">
              <f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.consultant_fee_per_day" />
            </label>
            <f:form.textfield property="consultantFeePerDay" id="consultantFeePerDay" additionalAttributes="{autocomplete:'consultantFeePerDay'}" />
          </div>
        </div>

        <div class="v320-1">
          <button type="submit" class="button">
            <span><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.submit" /></span>
          </button>
        </div>

      <f:if condition="{calculation.selectedProgram}">

      <f:form.validationResults>
          <f:if condition="{validationResults.flattenedErrors}">
          </f:if>
          <f:else>

            <rkwCalculation:calculation calculation="{calculation}">
              <f:for each="{calculationResult}" as="resultItem">

                <f:if condition="{resultItem.total}">

                  <div class="v320-1">
                    <table>
                      <thead>
                        <th></th>
                        <th><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.number_of_days" /></th>
                        <th></th>
                        <th><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.consultant_fee_per_day" /></th>
                        <th></th>
                        <th><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.amount" /></th>
                        <th><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.funding_amount" /></th>
                      </thead>
                      <tbody>
                        <tr>
                          <td><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.consultant_fee" /></td>
                          <td>{calculation.days}</td>
                          <td>x</td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{calculation.consultantFeePerDay}</f:format.number> Euro</td>
                          <td>=</td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.consultantFee}</f:format.number> Euro</td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.consultantFeeSubvention}</f:format.number> Euro</td>
                        </tr>
                        <tr>
                          <td><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.rkw_fee" /></td>
                          <td>{calculation.days}</td>
                          <td>x</td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{calculation.selectedProgram.rkwFeePerDay}</f:format.number> Euro</td>
                          <td>=</td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.rkwFee}</f:format.number> Euro</td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.rkwFeeSubvention}</f:format.number> Euro</td>
                        </tr>
                        <tr>
                          <td><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.subtotal" /></td>
                          <td>{calculation.days}</td>
                          <td>x</td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.subtotalPerDay}</f:format.number> Euro</td>
                          <td>=</td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.subtotal}</f:format.number> Euro</td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.subventionSubtotal}</f:format.number> Euro</td>
                        </tr>
                        <tr>
                          <td colspan="4"><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.tax" /></td>
                          <td></td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.tax}</f:format.number> Euro</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td colspan="4"><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.total" /></td>
                          <td></td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.total}</f:format.number> Euro</td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.subventionTotal}</f:format.number> Euro</td>
                        </tr>
                        <tr>
                          <td colspan="4"><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.funding" /></td>
                          <td></td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.funding}</f:format.number> Euro</td>
                          <td><f:format.number decimals="0" decimalSeparator=",">{resultItem.fundingPercentage}</f:format.number> %</td>
                        </tr>
                        <tr>
                          <td colspan="4"><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.own_funding_net" /></td>
                          <td></td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.ownFundingNet}</f:format.number> Euro</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td colspan="4"><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.own_funding_gross" /></td>
                          <td></td>
                          <td><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{resultItem.ownFundingGross}</f:format.number> Euro</td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="v320-1">

                    <h3><f:translate key="tx_rkwfeecalculator_domain_model_calculation.form.overview_condition_content" /></h3>

                    <h4><f:translate key="tx_rkwfeecalculator_domain_model_program.form.name" /></h4>
                    <p>{calculation.selectedProgram.name}</p>
                    <h4><f:translate key="tx_rkwfeecalculator_domain_model_program.form.institution" /></h4>
                    <p>{calculation.selectedProgram.institution.name}</p>
                    <h4><f:translate key="tx_rkwfeecalculator_domain_model_program.form.company_age" /></h4>
                    <p>{calculation.selectedProgram.companyAge}</p>
                    <h4><f:translate key="tx_rkwfeecalculator_domain_model_program.form.possible_days"/></h4>
                    <p><f:translate key="tx_rkwfeecalculator_domain_model_program.form.possible_days.value" arguments="{1:calculation.selectedProgram.possibleDaysMin, 2:calculation.selectedProgram.possibleDaysMax}"/></p>
                    <h4><f:translate key="tx_rkwfeecalculator_domain_model_program.form.conditions" /></h4>
                    <p>{calculation.selectedProgram.conditions}</p>
                    <h4><f:translate key="tx_rkwfeecalculator_domain_model_program.form.content" /></h4>
                    <p>{calculation.selectedProgram.content}</p>
                    <h4><f:translate key="tx_rkwfeecalculator_domain_model_program.form.rkw_fee_per_day.label" /></h4>
                    <p><f:translate key="tx_rkwfeecalculator_domain_model_program.form.rkw_fee_per_day.value" arguments="{1:calculation.selectedProgram.rkwFeePerDay}" /></p>
                    <h4><f:translate key="tx_rkwfeecalculator_domain_model_program.form.miscellaneous" /></h4>
                    <p>{calculation.selectedProgram.miscellaneous}</p>

                  </div>

                </f:if>

              </f:for>

            </rkwCalculation:calculation>

          </f:else>
        </f:form.validationResults>

      </f:if>

    </div>
  </f:form>

</f:section>
</html>