<div class="form-group">
    <label>Name</label>
    <f:form.textfield property="name" value="{program.name}" class="form-control"/>
</div>

<div class="form-group">
    <label>Company Age</label>
    <f:form.textfield property="companyAge" value="{program.companyAge}" class="form-control"/>
</div>

<div class="form-group">
    <label>Conditions</label>
    <f:form.textarea property="conditions" value="{program.conditions}" class="form-control"/>
</div>

<div class="form-group">
    <label>Content</label>
    <f:form.textarea property="content" value="{program.content}" class="form-control"/>
</div>

<div class="form-group">
    <label>Possible days min.</label>
    <f:form.textfield property="possibleDaysMin" value="{program.possibleDaysMin}" class="form-control"/>
</div>

<div class="form-group">
    <label>Possible days max.</label>
    <f:form.textfield property="possibleDaysMax" value="{program.possibleDaysMax}" class="form-control"/>
</div>

<div class="form-group">
    <label>RKW fee per day</label>
    <f:form.textfield property="rkwFeePerDay" value="{program.rkwFeePerDay}" class="form-control"/>
</div>

<div class="form-group">
    <label>Miscellaneous</label>
    <f:form.textarea property="miscellaneous" value="{program.miscellaneous}" class="form-control"/>
</div>

<div class="form-group">
    <label>Consultant fee per day limit</label>
    <f:form.textfield property="consultantFeePerDayLimit" value="{program.consultantFeePerDayLimit}" class="form-control"/>
</div>

<div class="form-group">
    <label>Institution</label>
    <f:form.select property="institution" options="{assignableInstitutions}" optionLabelField="name" prependOptionLabel="Please select one institution to be assigned to this program ..." prependOptionValue="" class="form-control"/>
</div>

<f:form.button type="submit">
    Submit
    <f:translate key="tx_rkwevents_fluid.templates_backend_show.label_submit" />
</f:form.button>