
<label for="name">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="address">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.address" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="address" /><br />
<label for="zip">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.zip" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.city" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="city" /><br />
<label for="foundationDate">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.foundationDate" />
</label><br />
	<f:form.textfield property="foundationDate" value="{supportRequest.foundationDate->f:format.date()}" /><br />
<label for="intendedFoundationDate">
    <f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.intended_foundation_date" />
</label><br />
<f:form.textfield property="intendedFoundationDate" value="{supportRequest.intendedFoundationDate->f:format.date()}" /><br />
<label for="sales">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.sales" />
</label><br />
	<f:form.textfield property="sales" /><br />
<label for="balance">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.balance" />
</label><br />
	<f:form.textfield property="balance" /><br />
<label for="employeesCount">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.employeesCount" />
</label><br />
	<f:form.textfield property="employeesCount" /><br />
<label for="manager">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.manager" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="manager" /><br />
<label for="singleRepresentative">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.singleRepresentative" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="singleRepresentative" /><br />
<label for="preTaxDeduction">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.preTaxDeduction" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="preTaxDeduction" /><br />
<label for="businessPurpose">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.businessPurpose" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="businessPurpose" /><br />
<label for="companyShares">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.companyShares" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="companyShares" /><br />
<label for="principalBank">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.principalBank" />
</label><br />
	<f:form.textfield property="principalBank" /><br />
<label for="bic">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.bic" />
</label><br />
	<f:form.textfield property="bic" /><br />
<label for="iban">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.iban" />
</label><br />
	<f:form.textfield property="iban" /><br />
<label for="contactPersonName">
    <f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.contactPersonName" /> <span class="required">(required)</span>
</label><br />
<f:form.textfield property="contactPersonName" /><br />
<label for="contactPersonPhone">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.contactPersonPhone" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="contactPersonPhone" /><br />
<label for="contactPersonFax">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.contactPersonFax" />
</label><br />
	<f:form.textfield property="contactPersonFax" /><br />
<label for="contactPersonEmail">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.contactPersonEmail" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="contactPersonEmail" /><br />
<label for="intendedFoundationDate">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.intended_foundation_date" />
</label><br />
	<f:form.textfield property="intendedFoundationDate" value="{supportRequest.intendedFoundationDate->f:format.date()}" /><br />
<label for="preFoundationEmployment">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.preFoundationEmployment" />
</label><br />
	<f:form.textfield property="preFoundationEmployment" /><br />
<label for="preFoundationSelfEmployment">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.preFoundationSelfEmployment" />
</label><br />
	<f:form.textfield property="preFoundationSelfEmployment" /><br />
<label for="consultingDateFrom">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.consultingDateFrom" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultingDateFrom" value="{supportRequest.consultingDateFrom}" /><br />
<label for="consultingDateTo">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.consultingDateTo" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultingDateTo" value="{supportRequest.consultingDateTo}" /><br />
<label for="consultingContent">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.consultingContent" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="consultingContent" cols="40" rows="15" /><br />
<label for="consultantType">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.consultantType" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantType" /><br />
<label for="consultantCompany">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.consultantCompany" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantCompany" /><br />
<label for="consultantName1">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.consultantName1" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantName1" /><br />
<label for="consultantName2">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.consultantName2" />
</label><br />
	<f:form.textfield property="consultantName2" /><br />
<label for="consultant1AccreditationNumber">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.consultant1AccreditationNumber" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultant1AccreditationNumber" /><br />
<label for="consultant2AccreditationNumber">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.consultant2AccreditationNumber" />
</label><br />
	<f:form.textfield property="consultant2AccreditationNumber" /><br />
<label for="consultantFee">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.consultantFee" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantFee" /><br />
<label for="consultantPhone">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.consultantPhone" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantPhone" /><br />
<label for="consultantEmail">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.consultantEmail" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="consultantEmail" /><br />
<label for="prematureStart">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.prematureStart" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="prematureStart" /><br />
<label for="sendDocuments">
	<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.sendDocuments" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="sendDocuments" /><br />