<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
  <f:flashMessages as="flashMessages">
    <f:for each="{flashMessages}" as="flashMessage">
      <div class="typo3-messages">
        <div class="alert alert-{flashMessage.class}">
          <div class="media">
            <div class="media-body">
              <div class="alert-message">
                <f:format.raw>{flashMessage.message}</f:format.raw>
              </div>
            </div>
          </div>
        </div>
      </div>
    </f:for>
  </f:flashMessages>

  <f:form action="store" name="calculator" object="{calculator}" class="form-fields">
    <div class="v320">

      <h2>{calculator.name}</h2>
      <div class="v320-1">
        <label class="form-label" for="selectedProgram">
          <f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.selected_program" />
        </label>
        <f:form.select id="selectedProgram" property="selectedProgram" options="{assignedPrograms}" optionValueField="uid" optionLabelField="name" />
      </div>

      <div><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.fee_calculation" /></div>

      <div class="v320-1">
        <label class="form-label" for="days">
          <f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.days" />
        </label>
        <f:form.textfield property="days" id="days" additionalAttributes="{autocomplete:'days'}" />
      </div>

      <div class="v320-1">
        <label class="form-label" for="consultantFeePerDay">
          <f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.consultant_fee_per_day" />
        </label>
        <f:form.textfield property="consultantFeePerDay" id="consultantFeePerDay" additionalAttributes="{autocomplete:'consultantFeePerDay'}" />
      </div>

      <table>
        <thead>
          <th></th>
          <th><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.number_of_days" /></th>
          <th></th>
          <th><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.consultant_fee_per_day" /></th>
          <th></th>
          <th><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.amount" /></th>
          <th><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.funding_amount" /></th>
        </thead>
        <tbody>
          <tr>
            <td><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.consultant_fee" /></td>
            <td>{calculator.days}</td>
            <td>x</td>
            <td>{calculator.consultantFeePerDay} Euro</td>
            <td>=</td>
            <td>{calculator.consultantFee} Euro</td>
            <td>{calculator.consultantFeeSubvention} Euro</td>
          </tr>
          <tr>
            <td><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.rkw_fee" /></td>
            <td>{calculator.days}</td>
            <td>x</td>
            <td>{calculator.selectedProgram.rkwFeePerDay} Euro</td>
            <td>=</td>
            <td>{calculator.rkwFee} Euro</td>
            <td>{calculator.rkwFeeSubvention} Euro</td>
          </tr>
          <tr>
            <td><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.subtotal" /></td>
            <td>{calculator.days}</td>
            <td>x</td>
            <td>{calculator.subtotalPerDay} Euro</td>
            <td>=</td>
            <td>{calculator.subtotal} Euro</td>
            <td>{calculator.subventionSubtotal} Euro</td>
          </tr>
          <tr>
            <td colspan="4"><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.tax" /></td>
            <td></td>
            <td>{calculator.tax} Euro</td>
            <td>- Euro</td>
          </tr>
          <tr>
            <td colspan="4"><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.total" /></td>
            <td></td>
            <td>{calculator.total} Euro</td>
            <td>{calculator.subventionTotal} Euro</td>
          </tr>
          <tr>
            <td colspan="4"><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.funding" /></td>
            <td></td>
            <td>{calculator.funding} Euro</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="4"><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.own_funding_net" /></td>
            <td></td>
            <td>{calculator.ownFundingNet} Euro</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="4"><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.own_funding_gross" /></td>
            <td></td>
            <td>{calculator.ownFundingGross} Euro</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <div><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.overview_condition_content" /></div>
      <h3><f:translate key="tx_rkwfeecalculator_domain_model_program.form.name" /></h3>
      <p>{calculator.selectedProgram.name}</p>
      <h3><f:translate key="tx_rkwfeecalculator_domain_model_program.form.institution" /></h3>
      <p>{calculator.selectedProgram.institution.name}</p>
      <h3><f:translate key="tx_rkwfeecalculator_domain_model_program.form.company_age" /></h3>
      <p>{calculator.selectedProgram.companyAge}</p>
      <h3><f:translate key="tx_rkwfeecalculator_domain_model_program.form.possible_days"/></h3>
      <p><f:translate key="tx_rkwfeecalculator_domain_model_program.form.possible_days.value" arguments="{1:calculator.selectedProgram.possibleDaysMin, 2:calculator.selectedProgram.possibleDaysMax}"/></p>
      <h3><f:translate key="tx_rkwfeecalculator_domain_model_program.form.conditions" /></h3>
      <p>{calculator.selectedProgram.conditions}</p>
      <h3><f:translate key="tx_rkwfeecalculator_domain_model_program.form.content" /></h3>
      <p>{calculator.selectedProgram.content}</p>
      <h3><f:translate key="tx_rkwfeecalculator_domain_model_program.form.rkw_fee_per_day.label" /></h3>
      <p><f:translate key="tx_rkwfeecalculator_domain_model_program.form.rkw_fee_per_day.value" arguments="{1:calculator.selectedProgram.rkwFeePerDay}" /></p>
      <h3><f:translate key="tx_rkwfeecalculator_domain_model_program.form.miscellaneous" /></h3>
      <p>{calculator.selectedProgram.miscellaneous}</p>

      <button type="submit" class="button">
        <span><f:translate key="tx_rkwfeecalculator_domain_model_calculator.form.submit" /></span>
      </button>
    </div>
  </f:form>

</f:section>
</html>