<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:feRegister="http://typo3.org/ns/Madj2k/FeRegister/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:for each="{misc}" as="field" key="fieldName">
        <f:render partial="SupportRequest/Components/Fields/Field" arguments="{field: field, fieldName: fieldName, mandatoryFields: mandatoryFields}" />
    </f:for>

    <div class="form__field">
        <f:form.checkbox
            class="checkbox"
            id="privacy"
            property="privacy"
            value="1"
            checked="{privacy}"
        />
        <label for="privacy" class="checkbox-label">
            <feRegister:privacyText textVersion="form"/>
        </label>
    </div>

</html>