{namespace rkwRegistration=RKW\RkwRegistration\ViewHelpers}
{namespace vh=RKW\RkwFeecalculator\ViewHelpers}

<fieldset>

    <legend>
        <f:translate key="tx_rkwfeecalculator_partials_supportrequest_requestForm.additional" extensionName="RkwFeecalculator" />
    </legend>

    <f:if condition="<vh:isRequestField fieldName='prematureStart' requestFields='{supportProgramme.requestFields}' />">
        <div class="v320-1">
            <span class="text-smaller hint"><f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.premature_start.hint1" arguments="{0 : supportProgramme.name}" extensionName="RkwFeecalculator" /></span>
            <span class="radio">
                    <label>
                         <f:form.radio property="prematureStart" value="1" />
                        &nbsp;<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.premature_start.1" extensionName="RkwFeecalculator" />
                    </label>
                </span>
            <span class="radio">
                <label>
                    <f:form.radio property="prematureStart" value="99" />
                    <f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.premature_start.99" extensionName="RkwFeecalculator" />
                </label>
            </span>
            <span class="text-smaller hint"><f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.premature_start.hint2" extensionName="RkwFeecalculator" /></span>
        </div>
    </f:if>

    <f:if condition="<vh:isRequestField fieldName='bafaSupport' requestFields='{supportProgramme.requestFields}' />">
        <div class="v320-1">
            <span class="text-smaller"><f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.bafa_support" extensionName="RkwFeecalculator" /></span>
            <span class="radio">
                <label>
                     <f:form.radio property="bafaSupport" value="1" />
                    &nbsp;<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.bafa_support.1" extensionName="RkwFeecalculator" />
                </label>
            </span>
            <span class="radio">
                <label>
                    <f:form.radio property="bafaSupport" value="99" />
                    <f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.bafa_support.99" extensionName="RkwFeecalculator" />
                </label>
            </span>
        </div>
    </f:if>

    <f:if condition="<vh:isRequestField fieldName='deMinimis' requestFields='{supportProgramme.requestFields}' />">
        <div class="v320-1">
            <span class="text-smaller"><f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.de_minimis" extensionName="RkwFeecalculator" /></span>
            <span class="radio">
                <label>
                     <f:form.radio property="deMinimis" value="1" />
                    &nbsp;<f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.de_minimis.1" extensionName="RkwFeecalculator" />
                </label>
            </span>
            <span class="radio">
                <label>
                    <f:form.radio property="deMinimis" value="99" />
                    <f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.de_minimis.99" extensionName="RkwFeecalculator" />
                </label>
            </span>
        </div>
    </f:if>

    <f:if condition="<vh:isRequestField fieldName='sendDocuments' requestFields='{supportProgramme.requestFields}' />">
        <div class="v320-1">
            <label for="sendDocuments">
                <f:translate key="tx_rkwfeecalculator_domain_model_supportrequest.send_documents" extensionName="RkwFeecalculator" />
            </label>
            <f:form.select property="sendDocuments" options="{1: '{f:translate(key:\"tx_rkwfeecalculator_domain_model_supportrequest.send_documents.1\", extensionName:\"RkwFeecalculator\")}', 2: '{f:translate(key:\"tx_rkwfeecalculator_domain_model_supportrequest.send_documents.2\", extensionName:\"RkwFeecalculator\")}'}" prependOptionValue="0" prependOptionLabel="{f:translate(key:'tx_rkwfeecalculator_domain_model_supportrequest.general.pleaseChoose')}" />
        </div>
    </f:if>

    <div class="v320-1">
        <span class="checkbox">
            <label>
                <f:form.checkbox class="feedback-field" property="terms" value="1" />
                <span class="text-smaller">
                    <f:translate key="tx_rkwfeecalculator_partials_supportrequest_requestForm.termsIntro" extensionName="RkwFeecalculator" /> <f:link.page pageUid="{settingsArray.termsPid}" target="_blank"><f:translate key="tx_rkwfeecalculator_partials_supportrequest_requestForm.terms" extensionName="RkwFeecalculator" /></f:link.page>
                    <f:if condition="{settings.terms2Pid}">
                        <f:translate key="tx_rkwfeecalculator_partials_supportrequest_requestForm.terms2Intro" extensionName="RkwFeecalculator" /> <f:link.page pageUid="{settingsArray.terms2Pid}" target="_blank"><f:translate key="tx_rkwfeecalculator_partials_supportrequest_requestForm.terms2" extensionName="RkwFeecalculator" /></f:link.page>
                    </f:if>
                    <f:translate key="tx_rkwfeecalculator_partials_supportrequest_requestForm.terms3" extensionName="RkwFeecalculator" />
                </span>
            </label>
        </span>
        <f:if condition="{settings.includeRkwRegistrationPrivacy}">
            <span class="checkbox">
                <label>
                    <f:form.checkbox property="privacy" value="1" />
                    <rkwRegistration:privacyText />
                </label>
            </span>
        </f:if>
    </div>

</fieldset>