.rkw-feecalculator .text-right {
    text-align: right;
}
.rkw-feecalculator .text-center {
    text-align: center;
}
.rkw-feecalculator .text-bold {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .rkw-feecalculator table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .rkw-feecalculator table tr {
        display: block;
        margin-bottom: 16px;
    }

    .rkw-feecalculator table td {
        display: block;
    }

    .rkw-feecalculator table td.collapsed--hidden {
        display: none;
    }

    .rkw-feecalculator table td.collapsed--th {
        text-transform: uppercase;
        font-weight: bold;
    }

    .rkw-feecalculator table td::before {
        content: attr(data-label);
        float: left;
    }
}

body.topic-1 .hint {
    color: #e64415;
}

body.topic-2 .hint {
    color: #74b929;
}

body.topic-3 .hint {
    color: #009fee;
}

body.topic-4 .hint {
    color: #c6007b;
}

body .wysiwyg p.hint {
    font-size: 80%;
}

form .jcf-file  .jcf-real-element {
    height: 100%;
    width: 100%;
}

form .jcf-file .jcf-fake-input {
    padding: 0 14px;
    border: 2px solid #ccc;
    border-radius: 8px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-fields fieldset div:first-of-type .jcf-upload-button.button {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 0;
}

body.topic-1 form .jcf-file .jcf-upload-button {
    background: #e64415;
}

body.topic-1 form .jcf-file .jcf-upload-button:hover {
    background: #fff;
    color: #e64415;
}

body.topic-2 form .jcf-file .jcf-upload-button {
    background: #74b929;
}

body.topic-2 form .jcf-file .jcf-upload-button:hover {
    background: #fff;
    color: #74b929;
}

body.topic-3 form .jcf-file .jcf-upload-button {
    background: #009fee;
}

body.topic-3 form .jcf-file .jcf-upload-button:hover {
    background: #fff;
    color: #009fee;
}

body.topic-4 form .jcf-file .jcf-upload-button {
    background: #c6007b;
}

body.topic-4 form .jcf-file .jcf-upload-button:hover {
    background: #fff;
    color: #c6007b;
}

