.rkw-feecalculator .text-right {
    text-align: right;
}
.rkw-feecalculator .text-center {
    text-align: center;
}
.rkw-feecalculator .text-bold {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .rkw-feecalculator table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .rkw-feecalculator table tr {
        display: block;
        margin-bottom: 16px;
    }

    .rkw-feecalculator table td {
        display: block;
    }

    .rkw-feecalculator table td.collapsed--hidden {
        display: none;
    }

    .rkw-feecalculator table td.collapsed--th {
        text-transform: uppercase;
        font-weight: bold;
    }

    .rkw-feecalculator table td::before {
        content: attr(data-label);
        float: left;
    }
}

body.topic-1 .hint {
    color: #e64415;
}

body.topic-2 .hint {
    color: #74b929;
}

body.topic-3 .hint {
    color: #009fee;
}

body.topic-4 .hint {
    color: #c6007b;
}