.rkw-feecalculator .text-right {
    text-align: right;
}
.rkw-feecalculator .text-center {
    text-align: center;
}
.rkw-feecalculator .text-bold {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .rkw-feecalculator table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .rkw-feecalculator table tr {
        display: block;
        margin-bottom: 16px;
    }

    .rkw-feecalculator table td {
        display: block;
    }

    .rkw-feecalculator table td.collapsed--hidden {
        display: none;
    }

    .rkw-feecalculator table td.collapsed--th {
        text-transform: uppercase;
        font-weight: bold;
    }

    .rkw-feecalculator table td::before {
        content: attr(data-label);
        float: left;
    }
}

body.topic-1 .hint {
    color: #e64415;
}

body.topic-2 .hint {
    color: #74b929;
}

body.topic-3 .hint {
    color: #009fee;
}

body.topic-4 .hint {
    color: #c6007b;
}

body .wysiwyg p.hint {
    font-size: 80%;
}

/* file */
form .jcf-file {
    display: block;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
    background: #fff; }

form .jcf-file .jcf-real-element {
    position: absolute;
    height: 100%;
    margin: 0;
    right: 0;
    top: 0; }

form .jcf-file .jcf-fake-input {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    overflow: hidden;
    font-size: 12px;
    line-height: 40px;
    width: 125px;
    height: 48px;
    padding: 0 14px;
    border: 2px solid #ccc;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; }
form .jcf-file .jcf-fake-input:hover, form .jcf-file .jcf-fake-input:focus {
    border-color: #e64415; }

form .jcf-file .jcf-upload-button {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0 0 -1px;
    height: 48px;
    padding: 0 14px;
    border: 2px solid transparent;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #e64415;
    color: #fff;
    font-family: "ff-tisa-sans-web-pro", "Arial", "Tahoma", "Verdana", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    vertical-align: middle;
    transition: background 0.25s ease;
    word-spacing: 0.2em; }

form .jcf-file {
    display: block;
    height: 48px;
}

form .jcf-file  .jcf-real-element {
    height: 100%;
    width: 100%;
}

form .jcf-file .jcf-fake-input {
    border: 2px solid #ccc;
    border-radius: 8px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 40px;
    padding: 0 35px 0 12px;
}

form .jcf-file .jcf-upload-button {
    border: 2px solid #ccc;
    margin-top: 0;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    padding: 0 35px 0 12px;
    height: 40px;
    font-family: "ff-tisa-sans-web-pro", "Arial", "Tahoma", "Verdana", sans-serif;
}

body.topic-1 form .jcf-file .jcf-upload-button {
    background: #e64415;
}

body.topic-1 form .jcf-file .jcf-upload-button:hover {
    background: #fff;
    color: #e64415;
}

body.topic-2 form .jcf-file .jcf-upload-button {
    background: #74b929;
}

body.topic-2 form .jcf-file .jcf-upload-button:hover {
    background: #fff;
    color: #74b929;
}

body.topic-3 form .jcf-file .jcf-upload-button {
    background: #009fee;
}

body.topic-3 form .jcf-file .jcf-upload-button:hover {
    background: #fff;
    color: #009fee;
}

body.topic-4 form .jcf-file .jcf-upload-button {
    background: #c6007b;
}

body.topic-4 form .jcf-file .jcf-upload-button:hover {
    background: #fff;
    color: #c6007b;
}

