<f:layout name="Backend/Module/Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="iconButtons">

</f:section>

<f:section name="headline">
    <h1>Edit "{calculator.name}"</h1>
</f:section>


<f:section name="content">

    <p class="lead">Description</p>

    <f:form action="update" object="{calculator}" name="calculator" additionalAttributes="{role:'form'}">

        <div class="form-group">
            <label>Name</label>
            <f:form.textfield property="name" value="{calculator.name}" class="form-control"/>
        </div>

        <f:form.button type="submit">
            Submit
            <f:translate key="tx_rkwevents_fluid.templates_backend_show.label_submit" />
        </f:form.button>
    </f:form>

</f:section>