<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">

        <f:render partial="FormErrors" arguments="{object:SupportRequest}" />

        <div class="flex-container">
            <f:form
                class="flex flex-basis-8 full-width-medium space-between"
                action="requestForm"
                name="supportRequest"
                object="{supportRequest}"
            >
                <div class="form__field width100 break-after">
                    <label for="supportProgramme">
                        <f:translate key="tx_rkwfeecalculator_domain_model_supportprogramme" />
                    </label>
                    <f:form.select
                        class="select-field"
                        name="supportProgramme"
                        options="{supportProgrammeList}"
                        optionValueField="uid"
                        optionLabelField="name"
                        prependOptionLabel="{f:translate(key:'tx_rkwfeecalculator_partials_supportrequest_formfields.chooseSupportProgramme')}"
                        prependOptionValue="0"
                        additionalAttributes="{onChange : 'this.form.submit();'}"
                    />
                </div>
            </f:form>
        </div>

    </f:section>
</html>
